{% extends 'base.html.twig' %}

{% block title %}New Mention{% endblock %}

{% block body %}
    <h1>Create new Mention</h1>

    {{ include('admin/admin_mention/_form.html.twig') }}

    <a href="{{ path('admin_mention_index') }}">back to list</a>
{% endblock %}
